<!--
お問い合わせ: https://docs.google.com/forms/d/e/1FAIpQLSf7qqy493Yipe6GI96UcLmt4UCKO4Pf5snF4KQ0CkXdAlegMw/viewform
参加したい・なにか投稿したい方: https://docs.google.com/forms/d/e/1FAIpQLSdYfGCkCRoekyK_HcOOtke6BApiMFuiKSgqMFTVRFsWfkfUfg/viewform
-->
<div>
  <article>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7qqy493Yipe6GI96UcLmt4UCKO4Pf5snF4KQ0CkXdAlegMw/viewform">
        お問い合わせ ✉
    </a>
  </article>
  <article>
    <div>
      本Webサイトは名取さなさんの一周年をお祝いするために、ファンが有志で制作したWebサイトです。
      名取さなさん本人とは一切関係ありません。
    </div>
    <div>
      このホームページに記載されている一切の文書・図版・写真等を、手段や形態を問わず複製、転載することを禁じます。
    </div>
  </article>
</div>
