h1 {
  font-size: 2em;
  margin: 0.5em;
  text-align: center;
}

header {
  background-color: #ffdde5;
  padding: 10px;
}

.header__2nd-level {
  display: flex;

  &__description {
    width: calc(100% - 182px);
    min-width: 320px;
  }

  &__access-counter {
    width: 182px;
  }
}

main {
  display: flex;
}
@import "main";

nav {
  @extend %content;
}

footer {

}
