---
layout: default
---
<div id="gallery">
    {{ content }}
</div>

<div id="menu">
    <h2 class="contents-header">メニュー</h2>
    <nav>
        <ul>
            <li><a href="/illust.html">画像・イラスト</a></li>
            <li><a href="/music.html">音楽・オーディオ</a></li>
            <li><a href="/texts.html">文章・辞世の句</a></li>
            <li><a href="/game.html">ゲーム・その他</a></li>
            <li><a href="/about.html">このサイトのついて</a></li>
            <li><a href="/member.html">参加者一覧</a></li>
        </ul>
    </nav>
</div>
